.home {
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.home img {
  width: 105px;
  height: 122px;
}

.home h3 {
  color: #989899;
}

.auth {
  padding-top: 90px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.auth img {
  margin-right: 10px;
}